@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#FAF9F6] text-[#1A1A1A];
  }
}

.brutalist-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
}

.brutalist-shadow-hover:hover {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
  transform: translate(2px, 2px);
}
